.app-top-bar{
  background:lightseagreen;
  border-bottom:1px solid rgba(255,255,255,.4);
  color:#fff;
  box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
}
.app-buttons{
  font-size: 28px;
}
.app-name{
  font-size:15px;
}